#footer {
    
    margin-left: 22rem;
}

#footer img {
    width: 100%;
    height: 100%;
    margin-left: 4rem;
}

@media screen and (max-width: 768px) {
    #footer {
        margin: 0;
    }

    #footer img {
        margin: 0;
    }
}