html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

@media screen and(max-width: 1000px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 20%;
    }
}