.box-answers {
    display: none;
    margin: -2.0rem 2.0rem 2.0rem 2.0rem;
    padding: 1.0rem 2.0rem 2.0rem 2.0rem;
    border-top: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #F8F8F8;
}

.wrapper-answers {
    padding: 2.0rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper-answers:Last-child(){
    border-bottom: none;
}

.box-autor-che, .wrapper-a-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-autor-che {
    margin-bottom: 1.0rem;
}

.wrapper-a-c > * {
    margin-left: 2.0rem;
    color: #EE7A3A;
}

.texta {
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.-tas {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #5C5C5C;
}

.-tac {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.-tap {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 400;
    color: #4D4D4D;
}