.msg {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2.0rem;
    border-radius: .6rem;
    box-shadow: 0px 0px 1.0px 0.5px rgba(0, 0, 0, 0.15);
}

.-td5.-tds, .-td4.-tds {
    text-decoration: none;
    color: #EE7A3A;
    margin: 2.0rem 0;
}

.addT {
    height: 3.3rem;
    width: 25%;
    border: none;
    background: linear-gradient(#FFB354,#EE7A3A);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 150ms ease-in-out;
}

.addT:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.addT .sub {
    font-family: "Quicksand",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: flex;
    align-self: center;
}

.-box-h {
    width: 20%;
    margin-top: 2.0rem;
}

@media screen and (max-width: 425px) {
    .img-check-add {
        transform: scale(0.5);
    }

    .wrap-img-check-add {
        transform: scale(0.8);
    }
}