.body-content {
    display: flex;
}

.main-content {
    margin-top: 2.0rem;
    margin-left: 5.0rem;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 900;
    line-height: 2.5rem;
    width: 78.3rem;
    height: 43.9rem;
    padding: 4.5rem 3.0rem;
    background: url('../../assets/img/body-content/dewey\ 1.png');
}

.video .title {
    font-size: 2.6rem;
    color: #fff;
}

.video .aut {
    font-size: 3.4rem;
    margin-bottom: 1.0rem;
}

.video .subt {
    font-size: 2.0rem;
}

.video .img-desc{
    display: flex;
    align-items: center;
}

.video .img-autor{
    border: 2px solid #EE7A3A;
    border-radius: 50%;
    margin-right: 2.0rem;
}

.main-content .title.-t2 {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.0rem;
    line-height: 2.5rem;
    font-weight: 900;
    color: #EE7A3A;
    padding-bottom: 2.0rem;
}