.body-content {
    display: flex;
}

.main-content {
    margin-top: 20px;
    margin-left: 50px;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 900;
    line-height: 25px;
    width: 783px;
    height: 439px;
    padding: 45px 30px;
    background: url('../../assets/img/body-content/dewey\ 1.png');
}

.video .title {
    font-size: 26px;
    color: #fff;
}

.video .aut {
    font-size: 34px;
    margin-bottom: 10px;
}

.video .subt {
    font-size: 20px;
}

.video .img-desc{
    display: flex;
    align-items: center;
}

.video .img-autor{
    border: 2px solid #EE7A3A;
    border-radius: 50%;
    margin-right: 20px;
}

.main-content .title.-t2 {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 900;
    color: #EE7A3A;
    padding-bottom: 20px;
}